.left-menu{
  width: 160px;
  height: calc(~"100vh - 48px");
  border-right: solid 1px #e5e5e5;
  float: left;
  li{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 15px;
    border-bottom: 1px solid #e5e5e5;
    a{
      color: #666;
      display: block;
    }
    &.active{
      background: rgba(24, 144, 255, 1);
      a{
        color: #fff;
      }
    }
    &:hover{
      background: rgba(24, 144, 255, .8);
      a{
        color: #fff;
      }
    }
  }
}