.personal-info{
  width: 480px;
  padding: 20px 40px 40px 40px;;
  .link{
    .ant-form-item{
      display: inline-block;
      margin-right: 10px;
    }
  }
  .item{
    label{
      font-size: 14px;
      color: #666;
      display: block;
      line-height: 30px;
    }
    .info-name{
      width: 250px;
    }
  }
  label{
    font-size: 14px;
    color: #666;
    display: block;
    line-height: 30px;
  }
}