@import "../../../../static/css/public";

.content-box-grid{
  position: relative;
  height: 100%;
  background: #F6F6F6;
  display: table;
  max-width: 4800px;
  .table-roomcell-grid{
    background: #fff;
    border-collapse: collapse;
    border-spacing: 0;
  }
}