.data-stat{
  width: 100%;
  margin-top: 30px;
  ul{
    overflow: hidden;
    width: 1280px;
    li{
      width: 165px;
      display: inline-block;
      vertical-align: middle;
      border:1px solid #ccc;
      text-align: center;
      padding-bottom: 30px;
      padding-top: 30px;
      margin-right: 20px;
      .data-title{
        margin-bottom: 15px;
      }
      strong{
        font-size: 34px;
        margin-bottom: 15px;
        display: block;
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }
}